.user_info{
    align-items: center;
}

.user-email{
    text-align: center;
    padding: 20px;
}



@media screen and (max-width: 420px) {
    .user_info{
        flex-direction: column;
        align-items: flex-start;
    }
}