.terzor, .coin-card{
    position: relative;
    
}

.transaction-wedget{
    position: absolute;
    top: 40px;
    left: 100px;
    width: 700px;
    background: #fff;
}

.coin__logo{
    width: 70px !important;
    height: 70px;
}

.coin-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.coin__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20px;
}


.transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

h5.text-danger {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.cards{
    display: flex;
    column-gap: 40px;
}

.transaction__card{
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    min-width: 80px;
    height: 100px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

.transaction__card i{
    color: blue;
    width: 100%;
}

.wallet_bal {
    border: 1px solid #333;
    padding: 7px 35px;
    border-radius: 10px;
}

@media screen and (max-width: 990px) {
    .transaction-wedget{
        position: absolute;
        top: 40px;
        left: 80px;
        width: 500px;
        background: #fff;
    }

    .coin__content{
        padding: 1.5rem .5rem;
    }
    .coin-card{
        width: 30px;
        height: 30px;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .transaction-wedget{
       left: 100px;
        width: 300px;
       
    }
    
}

@media screen and (max-width: 456px){
    .transaction-wedget{
       
        left: 30px;
       
    }
}